{% extends 'base.html'%}

{% block content %}
<div class="container-fluid"
  style="background-image:url('https://res.cloudinary.com/zilfa/image/upload/v1607605992/eea-ikeda-cUBXdZaVm4Q-unsplash_f6dgpb.jpg');background-size: cover; height: 93.8vh; background-position:left bottom;margin-top: -0.10cm;">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4" style="margin-top: 400px;">
    <blockquote style="background: #f9f9f913;color: black;font-family: 'Times New Roman', Times, serif;text-align: center;">
    <h3> {{user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>
</blockquote>

  <div class="col-md-8" style="padding-left:660px;margin-top: 20px;">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail" style="width: 230px; height:150px;">

    {%else%}
    <p>No profile picture</p>

    {% endif %}

        {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',name=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file" style="width: 230px;" name="photo" class="form-control" required>
      <input type="submit">
    </form>
      {% endif %}
  </div>
  
</div>
</div>
{% endblock %}