{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container-fluid"
  style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/zilfa/image/upload/v1607602427/paul-povoroznuk-Gp7F3GkdZo8-unsplash_muikwe.jpg');background-size: cover; height: 93.8vh; background-position: center;margin-top: -0.55cm;">
  <br>

  <div>
    <h1 style="text-align: center;font-weight: bold;color: white;margin-top:50px;font-family: 'Times New Roman', Times, serif;">Enter Your Credentials</h1>
    <div class="row" style="margin-top:50px;color: white;font-family: 'Times New Roman', Times, serif;">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <!--Flash message -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
        <!-- Login form -->
        {{wtf.quick_form(login_form)}}
        <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
      </div>
      <div clas="col-md-2"> </div>
    </div>
  </div>
</div>

{% endblock%}