{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container-fluid"
    style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/zilfa/image/upload/v1607603655/martin-adams-_OZCl4XcpRw-unsplash_1_xcfauz.jpg');background-size: cover; height: 92.1vh; background-position: center;margin-top: -0.10cm;">
    <br>
    
    <div>
        <h1
            style="text-align: center;font-weight: bold;color: white;font-family: 'Times New Roman', Times, serif;margin-top: 20px;">
            Register with Your Credentials</h1>
        <div class="row" style="margin-top:50px ;color: white;font-family: 'Times New Roman', Times, serif;">
            <div class="col-md-2"> </div>
            <div class="col-md-8">

                {{wtf.quick_form(registration_form)}}

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

{% endblock%}