{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}



    <div class="container" style="padding-top: 40px">

        <div class="row">
    
    <div class="card border-info mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{book.thumbnail}}" alt="book" style="width:250px; ">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title" style="padding-left: 80px;"><strong>{{ book.title }}</strong></h3>
                <p class="card-text" style="padding-left: 80px;">{{book.book_description|truncate(200)}}</p>
              <p class="card-text" style="padding-left: 80px;"><small class="text-muted">Last updated 3 mins ago</small></p>
              <a style="background-color: #2A9D8F; margin-left: 80px;" class="btn btn-info" href="{{book.webReaderLink}}">Read more</a>
            </div>
          </div>
        </div>
    </div>
    
    
<div class="col-md-4" style="padding-left: 30px;">
    <h2>Reviews</h2>
    <hr style="border: 1px solid #2A9D8F;">

    {% if reviews %}
    
        {{macro.displayReviews(reviews)}}

    {% else%}
        <h3 class="text-center" style="font-size: 0.8rem;">This book has no reviews </h3>

        <a class="btn btn btn-lg text-center" href="/book/review/new/{{book.id}}" style="background-color: #2A9D8F;color: white;"> Write a new review</a>
    {% endif %}
</div>
</div>
</div>


{% endblock %}