{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block content %}



<div class="jumbotron p-5" style="margin-top: -20px; background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
background-position: center;
background-size: cover;
background-repeat: no-repeat;">

<div class="m-5">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
  </div>

<!-- Science Book  -->

<h3> Science Books </h3>
<ul>
    {{ macro.displayBookList(science)}}
    
</ul>
<br>
<br>

        
<!-- Mathmatics Book -->

<h3> Computers Books</h3>
<ul>
    {{ macro.displayBookList(computers)}}
</ul>
<br> 
<br>

<!-- Fiction Books-->

<h3>Medical Books</h3>
<ul>
    {{ macro.displayBookList(fiction)}}
</ul>

<br>
<br>

<!-- Romantic Books-->

<h3>Romantic Books</h3>
<ul>
    {{ macro.displayBookList(romantic)}}
</ul>

{% endblock%}
