{% macro displayBookList(book_list) %}

{% for book in book_list %}
<div class="p-3 m-2" style="background-color:white; box-shadow: 3px 1px 4px #838282;">
    <img src="{{ book.thumbnail }}" alt="{{ book.title }} poster" class="img-responsive"><hr>
    <p> {{book.title|truncate(10)}} </p>
    <p><span style="color:#E76F51;"><i class="fas fa-eye"></i></span> {{book.page}}</p>
    <p> <a class="btn btn-sm text-light" style="background-color: #2A9D8F;" href="/book/{{book.id}}">View More</a> </p>
</div>
{% endfor %}
{% endmacro %}

{% macro displayReviews(review_list) %}

{% for review in review_list %}

<div class="row">

<div >
    <h4 style="font-size: 1.2rem; font-weight: bold;">{{review.user.username}}</h4>
           
        <div>
            <p>Your Review: {{review.book_review}}</p>
        </div>
        
    </div>      
    
</div>
<hr style="border: 1px solid #2A9D8F;">

{% endfor %}
{% endmacro %}